name: "release"

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2.1.1
      - name: node
        uses: actions/setup-node@v1.4.2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org
      - name: versioning
        run: npm version --new-version "${GITHUB_REF:11}" --no-git-tag-version
      - name: commit changes
        run: |
          git config --global user.email "robot@git.com"
          git config --global user.name "Git Robot"
          git add .
          git commit -m "Update package version via git"
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          branch: master
          github_token: ${{secrets.GITHUB_TOKEN}}
      - name: publish    
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
  push_to_registry:
    name: push docker image to dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=l7mp/l7mp
          VERSION=${GITHUB_REF#refs/tags/}
          TAGS="${DOCKER_IMAGE}:${VERSION}"
          TAGS="$TAGS, ${DOCKER_IMAGE}:latest"
          echo ::set-output name=tags::${TAGS}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        env:
          tag: ${GITHUB_REF:11}
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.prep.outputs.tags }}
